/* justify-content: space-between: Espaça os itens igualmente ao longo do eixo principal.
align-items: center: Alinha os itens ao centro do eixo transversal. */
.container {
  /* Propriedades Básicas de um flex-box (Layout Unidimensional que facilita
a distribuição do espaço entre itens em um contêiner e o alinhamento desses
itens. ), sendo ideal para diferentes tipos de tela */
  display: flex;
  flex-direction: row; /* Define a direção dos itens */
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Altura da tela inteira */
}
.item {
  flex: 1; /* Os itens crescem igualmente para preencher o es
paço disponível */
  padding: 20px;
  background-color: #f4f4f4;
  margin: 10px;
  text-align: center;
}
