/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Cabeçalho */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
header h1 {
  margin-bottom: 10px;
}
header nav ul {
  list-style: none;
  padding: 0;
}
header nav ul li {
  display: inline;
  margin-right: 10px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Container Flexível */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  flex: 1 1 30%;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
/* Estilos Responsivos */
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .item {
    flex: 1 1 100%;
  }
}
/* Rodapé */
footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: #fff;
}
